name: Generate Helm documentation
on:
  - pull_request
jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Run helm-docs
        uses: losisin/helm-docs-github-action@7c834e9c322552f140606b0190c1dde411a38a82 #v1.6.2
        with:
          git-push: true